{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ catalog.category }}</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					{% if catalog.photo.url != None %}
						{% if catalog.photo.url == "/media/images/food1.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food1.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food2.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food2.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food3.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food3.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food4.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food4.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food5.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food5.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food6.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food6.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food7.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food7.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food8.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food8.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food9.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food9.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food10.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food10.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food11.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food11.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food12.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food12.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food13.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food13.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food14.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food14.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food15.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food15.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food16.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food16.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food17.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food17.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food18.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food18.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food19.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food19.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food20.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food20.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food21.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food21.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food22.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food22.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food23.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food23.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food24.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food24.jpg' %}" alt="{{ catalog.title }}" >    
						{% elif catalog.photo.url == "/media/images/food25.jpg" %}
							<img style="width:100%; max-width:400px;" src="{% static 'images/food25.jpg' %}" alt="{{ catalog.title }}" >    
						{% else %}
							{% if catalog.photo.url != None %}
								<img style="width:100%; max-width:400px;" src="{{ catalog.photo.url}}" alt="{{ catalog.title }}" >
							{% endif %}
						{% endif %}			
					{% endif %}			
				</div>
				<div class="col-md-6">
					<h5 class="card-title"><strong>{{ catalog.title }}</strong></h5>
					<td>{{ catalog.details }}</td>
				</div>
				<div class="col-md-2">
					<h4 class="card-title"><strong>{{ catalog.price }}</strong> 〒</h4>					
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			<a class="btn btn-outline-info" style="width:100px" href="{% url 'catalog_index'  %}">{% trans "Back" %}</a>    	
		</div>
	</div>
</div>
{% endblock content %}